* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Erase Me Later ***/

nav, header, section, .headerLeft, .headerRight {
    border: 2px solid black;
}


/*** Layout ***/

nav {
    height: 10dvh;
}

header {
    height: 90vh;
}

section {
    height: 25dvh;
}

.headerLeft, .headerRight {
    height: 100%;
}

.headerLeft {
    float: left;
    width: 45%;
}

.headerRight {
    float: right;
    width: 55%;
}

section {
    clear: both;
}

/*** Flex Box ***/

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*** Content ***/

ul {
    list-style-type: none;
}

li {
    margin: 20px;
}

h3 {
    margin-left: 100px;
    color: #284457;
}

.navButton {
    margin-right: 100px;
    padding: 10px 25px 10px 25px;
    border-radius: 0%;
    border: 0px;
    color: white;
    background-color: #284457;

}

.cellImg {
    height: 100%;
    width: 100%;
}